#footer {
    display: flex;
    flex-direction: column;
}

#footer-horizontal-line {
    display: block;
    width: 80%;
    height: 1px;
    background-color: var(--color-text);
    border-radius: 100%;
}

#anchor-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 5%;
}

.social-midias {
    display: flex;
    justify-content: flex-end;
}

.social-midias ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-midias ul li {
    padding: 0.8em 0;
    padding-left: 1.5em;
}

.social-midias img {
    height: var(--size-icon);
}

.social-midias img:hover {
    filter: invert(50%) sepia(100%) saturate(800%) hue-rotate(325deg) brightness(95%) contrast(85%);
}

.menu-footer {
    display: flex;
    flex-direction: row;
    padding: 1.8em 0px;
    text-transform: uppercase;
}

.menu-footer li {
    padding-right: 2em;
    font-size: 0.9em;
}

.menu-footer a:link {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: var(--color-text);
}

.menu-footer a:visited {
    color: var(--color-text);
}

.menu-footer a:hover {
    color: var(--color-accent);
    border-bottom-color: var(--color-accent);
}

#reserved-rights {
    color: var(--color-text);
    margin: 1em 0 2em 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (width <= 768px) {
    #footer {
        align-items: center;
        text-align: center;
    }

    #footer-horizontal-line {
        display: none;
    }

    #anchor-footer {
        flex-direction: column;
        align-items: center;
        margin: 1em 8%;
        gap: 12px;
    }

    .menu-footer {
        display: none;
    }

    .social-midias {
        justify-content: center;
        width: 100%;
        border-top: 1px solid var(--color-text);
        padding-top: 1em;
        margin-top: 0.5em;
    }

    .social-midias ul {
        justify-content: center;
        gap: 1.2em;
    }

    .social-midias ul li {
        padding: 0;
    }

}
