<div class="sticky-bar">
    <ul>
        <li><a href="#anchor-home"><img class="svg-image" src="/src/img/icons/house-chimney 1.svg" alt="home icon"></a></li>
        <li><a href="#anchor-about-me-section"><img class="svg-image" src="/src/img/icons/woman-head 1.svg" alt="about me icon"></a></li>
        <li><a href="#anchor-project"><img class="svg-image" src="/src/img/icons/folder-open 1.svg" alt="projects icon"></a></li>
        <li><a href="#anchor-skills"><img class="svg-image" src="/src/img/icons/book-open-reader 1.svg" alt="skill icon"></a></li>
        <li><a href="#recomendations"><img class="svg-image" src="/src/img/icons/features-alt 1.svg" alt="recomendations"></a></li>
        <li><a id="theme-toggle"><img class="svg-image" src="/src/img/icons/circle-half-stroke 1.svg" alt="Light-Dark Theme"></a></li>
    </ul>
</div>