<div id="sidebar-menu">
    <ul>
        <li><a href="#"><img class="svg-image" src="/images/house-chimney 1.svg" alt="home"></a></li>
        <li><a href="#"><img class="svg-image" src="/images/woman-head 1.svg" alt="about me"></a></li>
        <li><a href="#"><img class="svg-image" src="/images/folder-open 1.svg" alt="jobs"></a></li>
        <li><a href="#"><img class="svg-image" src="/images/book-open-reader 1.svg" alt="skill"></a></li>
        <li><a href="#"><img class="svg-image" src="/images/features-alt 1.svg" alt="recomendations"></a></li>
        <li><a href="#"><img class="svg-image" src="/images/circle-half-stroke 1.svg" alt=""></a></li>
    </ul>
</div>