:root {
    --color-surface: #2A2939;
    --color-background: #191724;
    --color-text: #ffffff;
    --color-accent: #d68584;
    --color-shadow: #000000;
    --color-decorative-line: #ffffff;

    --font-size-h1: 2em;
    --font-size-h2: 1.7em;
    --font-size-h3: 1.5em;
    --font-size-p: 1em;
    --font-size-link: 1em;

    --size-icon: 2em;
    --size-image: 15em;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        '. header .'
        '. main .'
        '. footer .'
    ;
    max-width: 1920px; 
    margin: 0 auto;             
    user-select: none; 
}

header {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-area: header;
    grid-column: 2/3;
    grid-row: 1/2;
}

main {
    grid-area: main;
    grid-column: 2/3;
    grid-row: 2/3;
}


footer {
    grid-area: footer;
    grid-column: 2/3;
    grid-row: 3/4;
}
